<% provide(:title, "Edit tournament") %>
<h1>Editing Tournament</h1>

<%= render 'form', tournament: @tournament %>

<%= link_to 'Show', [:admin, @tournament] %> |
<%= link_to 'Back', admin_tournaments_path %>
