
<% if @pending_factions.size > 0 %>
<div id="pending_factions">
  factions waiting for answer:
  <br>
  <% @pending_factions.each do |faction| %>
      <%= link_to faction.name, faction %>
  <% end %>
</div>
<% end %>
