<div id="possible_factions">

<% if @possible_factions.size > 0 %>
  Join an existing faction:
  <br>
  <ul>
  <% @possible_factions.each do |faction| %>
      <li>
        <%= form_for @request  do |form| %>
          <%= form.hidden_field :faction_id, id: :faction_id, value: faction.id %>
          <%= link_to faction.name, faction %> <%= form.submit "Send request", class: "btn btn-primary" %>
        <% end %>
      </li>
  <% end %>
  </ul>
<% else %>
  No new faction to join for now.
<% end %>
</div>
