<% provide(:title, "Home") %>
<div class="container">

<h1>Pari-magique</h1>

<p>
  Welcome! This website is still a work in progress. Don't be surprised if some pages are ugly.
  If you have suggestions or see a bug, please send me an email.
</p>

<p>Make sure to join a faction below!</p>

<%= render "pending_factions" %>

<%= render "possible_factions" %>


</div>
