<% provide(:title, "Home") %>
<div class="index-box">
  <h1>Pari-magique</h1>
  
  <p class="text-center">Are you ready to bet on soccer games and have fun with your friends?</p>
  
  <p class="text-center">
    <%= render "devise/sessions/sign_in_form" %>
  </p>
  
</div>



