<% provide(:title, "League") %>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>


List of members:

<% @league.members.each do |member| %>
  <%= member.user.name %>
<% end %>



