<% provide(:title,  @tournament.name) %>
<div class="container">

<h1><%= @tournament.name %>, <%= @tournament.location %></h1>

<%= render 'buttons' %>

<br>
<br>

<%= render partial: 'games', locals: { past: false, games: @games, title: "" } %>
<br>


</div>
