<% provide(:title,  @tournament.name) %>

<h1><%= @tournament.name %>, <%= @tournament.location %></h1>
<h2><%= @league.name %></h2>

<h3>Ranking</h3>
<br>
<h3>Next 5 coming games</h3>
<br>
<h3>Last 5 games</h3>

