<% provide(:title, "Edit faction") %>
<div class="container">
<h1>Editing faction</h1>

<%= render 'form', faction: @faction %>

<%= link_to 'Show', @faction %> |
<%= link_to 'Back', factions_path %>
</div>
