<% provide(:title, "New faction") %>
<div class="container">
<h1>New faction</h1>

<p>
    A faction is a group of people. The leader of the faction decides who can join.
    <br>
    A user may join different factions. For example, a user joins a faction with his coworkers and another faction with his friends.
    <br>
    Each faction has its own chat room.
    <br>
    The leader of the faction decides which tournament poeple can bet on.
    <br>
    If a user belongs to 2 factions with the same tournament, then he can predict different guesses.
</p>

<%= render 'form', faction: @faction %>

</div>
