<% provide(:title, "Sign in") %>
<div class="index-box margin-box">
  <h1 class="">Pari-magique</h1>

  <p class="text-center">Are you ready to bet on soccer games and have fun with your friends?</p>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <p class="text-center">
    <%= render "devise/sessions/sign_in_form" %>
  </p>

</div>
