
body {
  padding-top: 50px;
}

.index-box {
  max-width: 412px;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow:0 2px 3px rgba(0,0,0,0.55);
  -moz-box-shadow:0 2px 3px rgba(0,0,0,0.55);
  box-shadow:0 2px 3px rgba(0,0,0,0.55);
  border:1px solid #818c94;
  border:1px solid rgba(0,0,0,0.4);
  padding: 30px;
  margin-top: 50px;
}

/* image from https://www.pexels.com/photo/soccer-ball-on-grass-field-during-daytime-46798/ */
.borderless {
  background-image: url(image-path('stadium.jpeg'));
  background-repeat: no-repeat;
  background-position: center;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/* END sidebard */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.center {
  text-align: center;
}

.action_button {
  margin-right: 10px;
}

#logo {
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

input[type="checkbox"] {
  width: auto;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    color: $state-danger-text;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.flag_size_col {
  width: 26px;
}

.big_font {
  text-transform: uppercase;
  font-size: 25px;
}

.vertical-align td {
  vertical-align: middle;
}
